{% extends 'base.html' %} 
{%block title%} Hoteles {%endblock title%} 

{%block content%}
        <div id="reserva-vista">
          <table class="section section-md bg-white text-center" id="reservas_hoteles">
            <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
              <div class="range range-sm-bottom spacing-20">
                <div>
                  <div class="cell-sm-6">
                    <div class="form-wrap">
                      <p class="text-uppercase">Elegi el hotel</p>
                      <label for="reserve_hotel" id="contact-first-name"></label>
                      <input class="form-input" id="reserve_hotel" type="text" name="hotel" data-constraints="@Required" readonly role="button" style="display: none;" />
                      <select id="hotel-options" onchange="updateHotelName()">
                        <option value="">Selecciona un hotel...</option>
                        <option value="Lagos Andinos">Lagos Andinos</option>
                        <option value="Mar del Plata">Mar del Plata</option>
                        <option value="Cerro Siete Colores">Cerro Siete Colores</option>
                        <option value="Selva Misionera">Selva Misionera</option>
                        <option value="Valle de la Luna">Valle de la Luna</option>
                        <option value="Cerro Fitz Roy">Cerro Fitz Roy</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
                <div class="cell-sm-6">
                  <p class="text-uppercase">Entrada</p>
                  <div class="form-wrap">
                    <label class="form-label form-label-icon" for="date-in-reserve"><span class="icon icon-primary fa-calendar "></span><span>Fecha de entrada</span></label>
                    <input class="form-input" id="date-in-reserve" data-time-picker="date" type="text" name="date" data-constraints="@Required" role="button"/>
                  </div>
                </div>
                <div class="cell-sm-6">
                  <p class="text-uppercase">Salida</p>
                  <div class="form-wrap">
                    <label class="form-label form-label-icon" for="date-out-reserve"><span class="icon icon-primary fa-calendar"></span><span>Fecha de salida</span></label>
                    <input class="form-input" id="date-out-reserve" data-time-picker="date" type="text" name="date" data-constraints="@Required" role="button"/>
                  </div>
                </div>
                <div class="cell-sm-6 boton-reserva">
                  <button class="button button-primary button-square button-block button-effect-ujarak" type="submit"><span>Consultar</span></button>
                </div>
              </div>
            </form>
          </table>
        </div>
        <section class="section section-md bg-white text-center text-sm-left">
          <div class="shell-wide">
            <div class="range range-10 range-middle">
              <div class="cell-sm-6">
                <h3>Nuestros Hoteles</h3>
              </div>
            </div>
            <hr />
            <div class="isotope-wrap">
              <!-- Isotope Content-->
              <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
                <div class="col-xs-12 col-sm-6 col-md-3 grid-sizer"></div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".1s">
                  <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/hotel-1.jpg')}}" data-size="533x800" data-lightgallery="item"
                    ><img src="{{url_for('static', filename='images/hotel-1-copia.jpg')}}" alt="" width="420" height="584" />
                    <figure></figure>
                    <div class="caption"><span class="icon mdi-eye"></span></div></a
                  >
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".2s">
                  <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/hotel-2.jpg')}}" data-size="1199x800" data-lightgallery="item"
                    ><img src="{{url_for('static', filename='images/hotel-2-copia.jpg')}}" alt="" width="420" height="584" />
                    <figure></figure>
                    <div class="caption"><span class="icon mdi-eye"></span></div></a
                  >
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".4s">
                  <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/hotel-3.jpg')}}" data-size="584x800" data-lightgallery="item"
                    ><img src="{{url_for('static', filename='images/hotel-3-copia.jpg')}}" alt="" width="420" height="584" />
                    <figure></figure>
                    <div class="caption"><span class="icon mdi-eye"></span></div></a
                  >
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".5s">
                  <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/hotel-4.jpg')}}" data-size="1200x800" data-lightgallery="item"
                    ><img src="{{url_for('static', filename='images/hotel-4-copia.jpg')}}" alt="" width="420" height="278" />
                    <figure></figure>
                    <div class="caption"><span class="icon mdi-eye"></span></div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        
{%endblock content%}
