<!-- Breadcrumbs & Page title-->
{% extends 'base.html' %} {%block title%} Nuestros Hoteles {%endblock title%} {%block content%}
<section class="section-md text-center bg-image breadcrumbs-01">
  <div class="shell shell-fluid">
    <div class="range range-xs-center">
      <div class="cell-xs-12 cell-xl-11">
        <h2 class="text-white">Hoteles</h2>
        <ul class="breadcrumbs-custom">
          <li><a href="{{url_for('index')}}">Inicio</a></li>
          <li class="active">Hoteles</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section section-md">
  <div class="shell">
    <h3>Nuestros hoteles</h3>
    <p>
      Flask Seasons ofrece las mejores acomodaciones con diseños únicos que brindan un ambiente tanto lujoso como relajante.<br />
      Las telas y acabados especialmente seleccionados varían de una habitación a otra, ofreciendo a los huéspedes una variedad de atmósferas hermosas y únicas para elegir.
    </p>
    <div class="range range-30" data-lightgallery="group">
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-1.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Bariloche Lagos Andinos</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-2.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Mar del Plata Buenos Aires</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-3.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Cerro Siete Colores Jujuy</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-4.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Selva Misionera Posadas</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-5.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Valle de la Luna San Juan</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
      <div class="cell-sm-6 cell-md-4">
        <a class="thumbnail-classic" href="#">
          <figure><img src="{{url_for('static', filename='images/hotel-6.jpg')}}" alt="" width="370" height="276" /></figure>
          <div class="caption">
            <p class="caption-title">Flask Seasons<span>Cerro Fitz Roy El Chaltén</span></p>
            <p class="caption-text">Toque para ver la disponibilidad</p>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
{%endblock content%}
