{% extends 'base.html' %} 

{%block content%}
<!-- Page Header-->
<section class="section">
  <div class="shell-wide">
    <div class="range range-30 range-xs-center">
      <div class="cell-lg-8 cell-xl-9">
        <!-- Classic slider-->
        <section class="section">
          <!-- Swiper -->
          <div class="swiper-container swiper-slider swiper-style-2" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="slide" data-direction="vertical">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="{{url_for('static', filename='images/slide-1.jpg')}}">
                <div class="swiper-slide-caption">
                  <div class="shell text-sm-left">
                    <h1 data-caption-animate="slideInDown" data-caption-delay="100">Tu Hotel Ideal</h1>
                    <div class="slider-subtitle-group">
                      <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                      <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Disfruta el mundo de la relajación</h4>
                      <h3 data-caption-animate="slideInLeft" data-caption-delay="800">y tranquilidad</h3>
                    </div>
                    <a class="button button-effect-ujarak button-lg button-white-outline button-square" href="{{url_for('hoteles')}}" data-caption-animate="slideInLeft" data-caption-delay="1150"
                      ><span>Reservar</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="{{url_for('static', filename='images/slide-2.jpg')}}">
                <div class="swiper-slide-caption">
                  <div class="shell text-sm-left">
                    <h1 data-caption-animate="slideInDown" data-caption-delay="100">Relajate & Desconecta</h1>
                    <div class="slider-subtitle-group">
                      <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                      <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Experimenta el silencio</h4>
                      <h3 data-caption-animate="slideInLeft" data-caption-delay="800">de los valles del norte</h3>
                    </div>
                    <a class="button button-effect-ujarak button-lg button-white-outline button-square" href="{{url_for('hoteles')}}" data-caption-animate="slideInLeft" data-caption-delay="1150"
                      ><span>Reservar</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="{{url_for('static', filename='images/slide-3.jpg')}}">
                <div class="swiper-slide-caption">
                  <div class="shell text-sm-left">
                    <h1 data-caption-animate="slideInDown" data-caption-delay="100">Revitalizar & Relajarse</h1>
                    <div class="slider-subtitle-group">
                      <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                      <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Entra dentro de nuestros</h4>
                      <h3 data-caption-animate="slideInLeft" data-caption-delay="800">paisajes únicos</h3>
                    </div>
                    <a class="button button-effect-ujarak button-lg button-white-outline button-square" href="{{url_for('hoteles')}}" data-caption-animate="slideInLeft" data-caption-delay="1150"
                      ><span>Reservar</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
      </div>
      <div class="cell-lg-4 cell-xl-3 reveal-lg-flex">
        <div class="hotel-booking-form">
          <h3>Reservar habitación</h3>
          <!-- RD Mailform-->
          <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="{{url_for('index')}}" >
            <div class="range range-sm-bottom spacing-20">
              <div class="cell-lg-12 cell-md-4">
                <p class="text-uppercase">Hotel </p>
                <div class="form-wrap">
                 <input type="hidden" name="id_hotel" id="id_hotel" data-constraints="@Required" required>
                <select style="width: 310px;" id="hotel-options" onchange="updateHotelName()">
                  <option class="form-options" value="">Selecciona un hotel...</option>
                  {%for i in hoteles %}
                    <option id="{{ i['id_hotel'] }}" value"{{ i['id_hotel'] }}">{{ i['nombre'] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
              <div class="cell-lg-12 cell-md-4">
                <p class="text-uppercase">Nombre </p>
                <div class="form-wrap">
                  <input class="form-input" id="contact-first-name" type="text" name="nombre" data-constraints="@Required" autocomplete="on" required />
                  <label class="form-label" for="contact-first-name">Nombre</label>
                </div>
              </div>
              <div class="cell-lg-12 cell-md-4">
                <p class="text-uppercase">Apellido</p>
                <div class="form-wrap">
                  <input class="form-input" id="contact-last-name" type="text" name="apellido" data-constraints="@Required" autocomplete="on" required/>
                  <label class="form-label" for="contact-last-name">Apellido</label>
                </div>
              </div>
              <div class="cell-lg-12 cell-md-4 cell-sm-6">
                <p class="text-uppercase">Entrada</p>
                <div class="form-wrap">
                  <label class="form-label form-label-icon" for="inicio_reserva"><span class="icon icon-primary fa-calendar"></span><span>Fecha de entrada</span></label>
                  <input class="form-input" id="inicio_reserva" data-time-picker="date" type="text" name="inicio_reserva" data-constraints="@Required" role="button" required/>
                </div>
              </div>
              <div class="cell-lg-12 cell-md-4 cell-sm-6">
                <p class="text-uppercase">Salida</p>
                <div class="form-wrap">
                  <label class="form-label form-label-icon" for="fin_reserva"><span class="icon icon-primary fa-calendar"></span><span>Fecha de salida</span></label>
                  <input class="form-input" id="fin_reserva" data-time-picker="date" type="text" name="fin_reserva" data-constraints="@Required" role="button" required/>
                </div>
              </div>
              <div class="cell-lg-12 cell-md-4">
                <p class="text-uppercase">DNI</p>
                <div class="form-wrap">
                  <input class="form-input" id="dni" type="text" name="dni" data-constraints="@Required" autocomplete="on" required/>
                  <label class="form-label" for="dni">DNI</label>
                </div>
                  <p style="font-size: small ; color:#9b9b9b">*Las reservas estaran sujetas a disponibilidad.</p>
              </div>
                <button class="button button-primary button-square button-block button-effect-ujarak" id="submitForm" formmethod="post" type="submit"><span>Reservar</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio-->
<section class="section section-md bg-white text-center text-sm-left">
  <div class="shell-wide">
    <div class="range range-10 range-middle">
      <div class="cell-sm-6">
        <h3>Nuestra Galería</h3>
      </div>
    </div>
    <hr />
    <div class="isotope-wrap">
      <!-- Isotope Content-->
      <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
        <div class="col-xs-12 col-sm-6 col-md-3 grid-sizer"></div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".1s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-1-original.jpg')}}" data-size="533x800" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-1.jpg')}}" alt="" width="420" height="584" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".2s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-2-original.jpg')}}" data-size="1199x800" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-2.jpg')}}" alt="" width="420" height="278" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".4s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-3-original.jpg')}}" data-size="584x800" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-3.jpg')}}" alt="" width="420" height="584" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".5s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-4-original.jpg')}}" data-size="1200x800" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-4.jpg')}}" alt="" width="420" height="278" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".3s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-5-original.jpg')}}" data-size="1200x800" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-5.jpg')}}" alt="" width="420" height="278" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".6s">
          <a class="portfolio-item thumbnail-classic" href="{{url_for('static', filename='images/gallery-6-original.jpg')}}" data-size="1200x798" data-lightgallery="item"
            ><img src="{{url_for('static', filename='images/gallery-6.jpg')}}" alt="" width="420" height="278" />
            <figure></figure>
            <div class="caption"><span class="icon mdi-eye"></span></div></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    document.querySelector('#submitForm').addEventListener('click', (event) => {
      const form = document.querySelector('form');

      if (form.checkValidity()) {
          form.submit(); 
      } else {
          event.preventDefault(); 
          alert('Por favor completa todos los campos requeridos.');
      }

  });

  $('#inicio_reserva').on('change', function (event, date) {
    const fechaInicial = $('#inicio_reserva').attr('data-fecha-inicio');
    const fechaFinal = $('#fin_reserva').attr('data-fecha-fin');
    const fechaSeleccionada = moment(date).format('YYYY-MM-DD');
    $('#fin_reserva').bootstrapMaterialDatePicker('setMinDate', fechaSeleccionada);
    $('#fin_reserva').bootstrapMaterialDatePicker('setDate', fechaSeleccionada);
    $('#fin_reserva').val(fechaSeleccionada);


  });

  // Habilita el botón de modificar al cambiar la fecha de fin si es distinta a la fecha fin original de la reserva.
  $('#fin_reserva').on('change', function (event, date) {
    const fechaInicial = $('#inicio_reserva').attr('data-fecha-inicio');
    const fechaFinal = $('#fin_reserva').attr('data-fecha-fin');
    const fechaSeleccionada = moment(date).format('YYYY-MM-DD');
   
  });
</script>
{%endblock content%}

