<form class="rd-mailform form-info-reserva" method="post">
  <input type="hidden" name="numero_reserva" value="{{reserva.numero_reserva}}" />
  <div class="range range-sm-bottom spacing-20">
    <div class="cell-sm-6 cell-form">
      <p class="label-form-reserva">Nombre</p>
      <div class="form-wrap">
        <p class="form-input">{{reserva.nombre}}</p>
      </div>
    </div>
    <div class="cell-sm-6 cell-form">
      <p class="label-form-reserva">Apellido</p>
      <div class="form-wrap">
        <p class="form-input">{{reserva.apellido}}</p>
      </div>
    </div>
    <div class="cell-sm-6 cell-form">
      <p class="label-form-reserva">Número de reserva</p>
      <div class="form-wrap">
        <p class="form-input">{{reserva.numero_reserva}}</p>
      </div>
    </div>
    <div class="cell-sm-6 cell-form">
      <p class="label-form-reserva">Documento de identidad</p>
      <div class="form-wrap">
        <p class="form-input">{{reserva.dni}}</p>
      </div>
    </div>
    <div class="cell-xl-12 cell-md-12 cell-sm-12 cell-form">
      <p class="label-form-reserva">Hotel</p>
      <div class="form-wrap">
        <p class="form-input">{{reserva.nombre_hotel}}</p>
      </div>
    </div>
    <hr class="divider divider-left divider-custom" />
    <div class="cell-sm-6">
      <p class="label-form-reserva black-grey">Fecha de entrada (*)</p>
      <div class="form-wrap">
        <label class="form-label form-label-icon" style="opacity: 1 !important" for="inicio_reserva"><span class="icon icon-primary fa-calendar"></span><span class="black-grey"></span></label>
        <input
          class="form-input black-grey form-fecha-reserva"
          id="inicio_reserva"
          data-time-picker="date"
          type="text"
          name="inicio_reserva"
          data-constraints="@Required"
          data-fecha-inicio="{{reserva.inicio_reserva}}"
          role="button"
          placeholder="{{reserva.inicio_reserva}}"
          style="padding-left: 5rem"
        />
      </div>
    </div>
    <div class="cell-sm-6">
      <p class="label-form-reserva black-grey">Fecha de salida (*)</p>
      <div class="form-wrap">
        <label class="form-label form-label-icon" style="opacity: 1 !important" for="fin_reserva"><span class="icon icon-primary fa-calendar"></span><span class="black-grey"></span></label>
        <input
          class="form-input black-grey form-fecha-reserva"
          id="fin_reserva"
          data-time-picker="date"
          type="text"
          name="fin_reserva"
          data-constraints="@Required"
          data-fecha-fin="{{reserva.fin_reserva}}"
          role="button"
          placeholder="{{reserva.fin_reserva}}"
          style="padding-left: 5rem"
        />
      </div>
    </div>
    <p style="font-size: small">*Los cambios de fecha estarán sujetos a disponibilidad del hotel.</p>
    <hr class="divider divider-left divider-custom" />

    <div class="cell-xl-12 cell-md-12 cell-sm-12 boton-container-reserva">
      {% if error %} {% include 'mensaje_de_estado.html' %} {% endif %}
      <button class="button button-primary button-square button-block" id="cancelarReserva" type="button" data-toggle="modal" data-target="#myModal"><span>Cancelar reserva</span></button>
      <button class="button button-primary button-square button-block" id="modificarReserva" type="button" data-toggle="modal" data-target="#myModal" title="Cambie la fecha para habilitar el botón"><span>Modificar reserva</span></button>
    </div>
  </div>
</form>

<script>
  // No permite enviar la modificación de la reserva hasta que el usuario no cambie alguna fecha.
  $('#modificarReserva').attr('disabled', true);

  // Habilita el botón de modificar al cambiar la fecha de inicio si es distinta a la fecha inicio original de la reserva.
  $('#inicio_reserva').on('change', function (event, date) {
    const fechaInicial = $('#inicio_reserva').attr('data-fecha-inicio');
    const fechaFinal = $('#fin_reserva').attr('data-fecha-fin');
    const fechaSeleccionada = moment(date).format('YYYY-MM-DD');
    $('#fin_reserva').bootstrapMaterialDatePicker('setMinDate', fechaSeleccionada);
    $('#fin_reserva').bootstrapMaterialDatePicker('setDate', fechaSeleccionada);
    $('#fin_reserva').val(fechaSeleccionada);

    if (fechaInicial != fechaSeleccionada) {
      $('#modificarReserva').attr('disabled', false);
    } else if (fechaInicial == fechaSeleccionada && fechaFinal == $('#fin_reserva').val()) {
      $('#modificarReserva').attr('disabled', true);
    }
  });

  // Habilita el botón de modificar al cambiar la fecha de fin si es distinta a la fecha fin original de la reserva.
  $('#fin_reserva').on('change', function (event, date) {
    const fechaInicial = $('#inicio_reserva').attr('data-fecha-inicio');
    const fechaFinal = $('#fin_reserva').attr('data-fecha-fin');
    const fechaSeleccionada = moment(date).format('YYYY-MM-DD');
    if (fechaFinal != fechaSeleccionada) {
      $('#modificarReserva').attr('disabled', false);
    } else if (fechaFinal == fechaSeleccionada && fechaInicial == $('#inicio_reserva').val()) {
      $('#modificarReserva').attr('disabled', true);
    }
  });

  // Setea el texto del modal si se toca cancelar.
  $('#cancelarReserva').on('click', function () {
    $('#myModalTitle').text('Cancelar reserva');
    $('#myModalBody').html('Si continua la reserva se cancelará.<br>Este proceso es <strong>irreversible.</strong>');
    $('form').attr('action', "{{url_for('cancelar_reserva')}}");
  });

  // Setea el texto del modal si se toca modificar.
  $('#modificarReserva').on('click', function () {
    $('#myModalTitle').text('Modificar reserva');
    $('#myModalBody').html('Los cambios estarán sujetos a la<strong> disponibilidad</strong> del hotel.');
    $('form').attr('action', "{{url_for('modificar_reserva')}}");
  });
</script>
