<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
  <head>
    <!-- Site Title-->
    <title>{% block title%} Inicio {% endblock title%}</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>
  <body>
    <!-- Page-->
    <div class="text-center page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="loader">
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="window"></div>
              <div class="door"></div>
              <div class="hotel-sign"><span>H</span><span>O</span><span>T</span><span>E</span><span>L</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header" style="padding-bottom: 24px">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav
            class="rd-navbar rd-navbar-default-with-top-panel"
            data-layout="rd-navbar-fixed"
            data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fullwidth"
            data-md-device-layout="rd-navbar-fixed"
            data-lg-layout="rd-navbar-fullwidth"
            data-lg-device-layout="rd-navbar-fullwidth"
            data-md-stick-up-offset="90px"
            data-lg-stick-up-offset="150px"
            data-stick-up="true"
            data-sm-stick-up="true"
            data-md-stick-up="true"
            data-lg-stick-up="true"
          >
            <div class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-top-panel-inner">
                <div class="center-side">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand fullwidth-brand">
                    <a class="brand-name" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/logo-default-314x48.png')}}" alt="" width="314" height="48" /></a>
                  </div>
                </div>
                <div class="right-side">
                  <!-- Contact Info-->
                  <div class="contact-info">
                    <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                      <div class="unit__left">
                        <span class="icon icon-primary text-middle mdi mdi-phone"></span>
                      </div>
                      <div class="unit__body">
                        <a class="text-middle" href="https://wa.me/541152850586" target="_blank">+54 1152850586</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                  <span></span>
                </button>
                <!-- RD Navbar collapse toggle-->
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse">
                  <span></span>
                </button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand mobile-brand">
                  <a class="brand-name" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/logo-default-314x48.png')}}" alt="" width="314" height="48" /></a>
                </div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-scroll-holder">
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="{{url_for('index')}}">Inicio</a></li>
                      <li><a href="{{url_for('hoteles')}}">Hoteles</a></li>
                      <li><a href="{{url_for('reservas')}}">Reservas</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      {%block content%}
      {%endblock content%}
      <!-- Page Footer-->
      <footer class="page-footer text-left text-sm-left">
        <div class="shell-wide">
          <div class="footer-banner section-sm"></div>
          <div class="page-footer-minimal">
            <div class="shell-wide">
              <div class="range range-50 base-footer">
                <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
                  <div class="page-footer-minimal-inner">
                    <h4>Abierto todo el año</h4>
                    <ul class="list-unstyled">
                      <li>
                        <div class="group-xs">
                          <div>
                            <dl class="list-desc">
                              <dt>Días de semana:</dt>
                              <dd class="text-gray-darker">
                                <span>08:00 – 20:00hs</span>
                              </dd>
                            </dl>
                          </div>
                          <div>
                            <dl class="list-desc">
                              <dt>Fin de semana:</dt>
                              <dd class="text-gray-darker">
                                <span>09:00 – 18:00 hs</span>
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </li>
                      <li>
                        <p class="rights">
                          <span>&copy;&nbsp;</span><span>2019</span><span>&nbsp;</span><span class="copyright-year"></span>Royal Villas.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
                  <div class="page-footer-minimal-inner">
                    <h4>Dirección</h4>
                    <ul class="list-unstyled">
                      <li>
                        <dl class="list-desc">
                          <dt>
                            <span class="icon icon-sm mdi mdi-map-marker"></span>
                          </dt>
                          <dd>
                            <a class="link link-gray-darker" href="http://maps.google.com/?q=avenida+paseo+colon+850" target="_blank">Avenida Paseo Colón 850, C.A.B.A., C1063ACV</a>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="list-desc">
                          <dt>
                            <span class="icon icon-sm mdi mdi-phone"></span>
                          </dt>
                          <dd class="text-gray-darker">
                            Contactanos:
                            <a class="link link-gray-darker" href="https://wa.me/541152850586" target="_blank">+54 1152850586</a>
                          </dd>
                        </dl>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="{{url_for('static', filename='js/core.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
